
header {
  position: -webkit-fixed;
  position: fixed;   
  top: 0;
  height: 69px;
  width: 100%;
  background: linear-gradient(to bottom, #000, #0003 70%,#0000); /* background when scroll is in the top */
  transition: background .5s; /* control how smooth the background changes */
}

header.scrolled {
  background: #212529;
}